.page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15rem;
    background-color: #eeeeee;
    width: 100%;
    height: 100vh;
    color: #5e5e5e;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.logo{
    width: 70%;
}

.title {
    margin-block: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}