.titleContainer, .dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.dashboard {
    width: 50%;
    align-items: center;
    margin: 0 auto;
    background-color: red;
}

.titleContainer {
    align-items: start;
}